{% load i18n static humanize auth_tokens currency %}
{% with event_type=event.event_type %}
    <h4 class="text-primary col-xs-12">
        {% if event_type.codename == 'PaymentRewardOffered' %}
            <span>{% trans "Payment reward" %}</span>
        {% else %}
            <span>{% trans "Free reward" %}</span>
        {% endif %}
    </h4>
    <div style="padding: 0 15px">
        <div>
            <div class="coupon-event count-{{ tile_count }}">
                {% if reward_list|length == 1 %}
                    {% with reward=reward_list.0 %}
                    <div class="stretched coupon-tile tile-1"
                         style="background-image: url({{ IKWEN_MEDIA_URL }}{{ reward.coupon.image.name }})">
                        <div class="text-has-shade coupon-count">
                            <span>x{{ reward.count }}</span>
                        </div>
                    </div>
                    {% endwith %}
                {% elif reward_list|length == 2 %}
                    {% with reward=reward_list.0 %}
                    <div class="stretched coupon-tile tile-2"
                         style="background-image: url({{ IKWEN_MEDIA_URL }}{{ reward.coupon.image.name }})">
                        <div class="text-has-shade coupon-count">
                            <span>x{{ reward.count }}</span>
                        </div>
                    </div>
                    {% endwith %}
                    {% with reward=reward_list.1 %}
                    <div class="stretched coupon-tile tile-2"
                         style="background-image: url({{ IKWEN_MEDIA_URL }}{{ reward.coupon.image.name }})">
                        <div class="text-has-shade coupon-count">
                            <span>x{{ reward.count }}</span>
                        </div>
                    </div>
                    {% endwith %}
                {% elif reward_list|length == 3 %}
                    {% with reward=reward_list.0 %}
                    <div class="stretched coupon-tile tile-3-1"
                         style="background-image: url({{ IKWEN_MEDIA_URL }}{{ reward.coupon.image.name }})">
                        <div class="text-has-shade coupon-count">
                            <span>x{{ reward.count }}</span>
                        </div>
                    </div>
                    {% endwith %}
                    {% with reward=reward_list.1 %}
                    <div class="stretched coupon-tile tile-3-2"
                         style="background-image: url({{ IKWEN_MEDIA_URL }}{{ reward.coupon.image.name }})">
                        <div class="text-has-shade coupon-count">
                            <span>x{{ reward.count }}</span>
                        </div>
                    </div>
                    {% endwith %}
                    {% with reward=reward_list.2 %}
                    <div class="stretched coupon-tile tile-3-2"
                         style="background-image: url({{ IKWEN_MEDIA_URL }}{{ reward.coupon.image.name }})">
                        <div class="text-has-shade coupon-count">
                            <span>x{{ reward.count }}</span>
                        </div>
                    </div>
                    {% endwith %}
                {% elif reward_list|length >= 4 %}
                    {% with reward=reward_list.0 %}
                    <div class="stretched coupon-tile tile-3-1"
                         style="background-image: url({{ IKWEN_MEDIA_URL }}{{ reward.coupon.image.name }})">
                        <div class="text-has-shade coupon-count">
                            <span>x{{ reward.count }}</span>
                        </div>
                    </div>
                    {% endwith %}
                    {% with reward=reward_list.1 %}
                    <div class="stretched coupon-tile tile-3-2"
                         style="background-image: url({{ IKWEN_MEDIA_URL }}{{ reward.coupon.image.name }})">
                        <div class="text-has-shade coupon-count">
                            <span>x{{ reward.count }}</span>
                        </div>
                    </div>
                    {% endwith %}
                    {% with reward=reward_list.2 %}
                    <div class="coupon-tile tile-3-2"
                         style="background-image: url({{ IKWEN_MEDIA_URL }}{{ reward.coupon.image.name }})">
                        <div class="stretched more">
                            <h2 class="main">+{{ more_entries }}</h2>
                        </div>
                    </div>
                    {% endwith %}
                {% endif %}
            </div>
            <p>{% blocktrans %}
                Hey! You just earned {{ total_coupon }} free coupons. Collect 100 of any
                and exchange them for the equivalent.
            {% endblocktrans %}</p>
        </div>
        <div class="clearfix"></div>
    </div>
{% endwith %}