{% load i18n static %}
<div class="cr-join-widget">
    <p style="margin: 15px 0 25px; text-align: center">{% blocktrans %}
        <strong>{{ profile_name }} has some free coupons for you.</strong>
        To collect them, join {{ profile_name }} on ikwen today.
    {% endblocktrans %}</p>
    <p class="text-center">
    {% if request.user.is_authenticated %}
        {% if not is_member %}
            <button class="btn btn-sm btn-primary join-community" data-service-id="{{ page_service.id }}">
                <img src="{% static 'ikwen/img/Join_button_white.svg' %}" height="15" style="margin: -4px 5px 0 0" />
                Join
            </button>
        {% endif %}
    {% else %}
        <a class="btn btn-primary btn-sm join-community" href="{% url 'ikwen:sign_in' %}?join={{ page_service.project_name_slug }}{% if request.GET.referrer %}&referrer={{ request.GET.referrer }}{% endif %}">
            <img src="{% static 'ikwen/img/Join_button_white.svg' %}" height="15" style="margin: -4px 5px 0 0" />
            Join
        </a>
    {% endif %}
    </p>
</div>